# データサイエンス100本ノック（構造化データ加工編） - R

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあればinstall.packages()で適宜インストールしてください
- 名前、住所等はダミーデータであり、実在するものではありません

In [6]:
require("RPostgreSQL")
require("tidyr")
require("dplyr")
require("stringr")
require("caret")
require("lubridate")
require("rsample")
require("recipes")
require("themis")

host <- "db"
port <- Sys.getenv()["PG_PORT"]
dbname <- Sys.getenv()["PG_DATABASE"]
user <- Sys.getenv()["PG_USER"]
password <- Sys.getenv()["PG_PASSWORD"]

con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
df_customer <- dbGetQuery(con,"SELECT * FROM customer")
df_category <- dbGetQuery(con,"SELECT * FROM category")
df_product <- dbGetQuery(con,"SELECT * FROM product")
df_receipt <- dbGetQuery(con,"SELECT * FROM receipt")
df_store <- dbGetQuery(con,"SELECT * FROM store")
df_geocode <- dbGetQuery(con,"SELECT * FROM geocode")

Loading required package: RPostgreSQL

Loading required package: DBI

Loading required package: tidyr

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: stringr

Loading required package: caret

Loading required package: lattice

Loading required package: ggplot2

Loading required package: lubridate

Loading required package: timechange


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Loading required package: rsample

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘rsample’”
Loading required package: recipes


Attaching package: ‘recipes’


The following object is masked from ‘package:stringr’:

    fixed


The following object is masked from ‘package:stats’:

    step


Loading required package: themis

# 演習問題

---
> R-001: レシート明細データ（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [5]:
View(df_receipt)

       sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1      20181103  1541203200  S14006    112       1              CS006214000001
2      20181118  1542499200  S13008   1132       2              CS008415000097
3      20170712  1499817600  S14028   1102       1              CS028414000014
4      20190205  1549324800  S14042   1132       1              ZZ000000000000
5      20180821  1534809600  S14025   1102       2              CS025415000050
6      20190605  1559692800  S13003   1112       1              CS003515000195
7      20181205  1543968000  S14024   1102       2              CS024514000042
8      20190922  1569110400  S14040   1102       1              CS040415000178
9      20170504  1493856000  S13020   1112       2              ZZ000000000000
10     20191010  1570665600  S14027   1102       1              CS027514000015
11     20190918  1568764800  S14025   1182       2              CS025415000134
12     20171010  1507593600  S14021   1162       1              CS021515000126
13     20180506  1525564800  S13039   1112       1              CS039414000052
14     20190326  1553558400  S13016    112       1              CS016215000032
15     20180329  1522281600  S12014   1122       1              ZZ000000000000
16     20170116  1484524800  S13002   1112       1              ZZ000000000000
17     20190621  1561075200  S13044   1142       2              ZZ000000000000
18     20181225  1545696000  S13020   1172       2              ZZ000000000000
19     20190603  1559520000  S14026   1182       1              CS026515000042
20     20190606  1559779200  S13044   1122       1              ZZ000000000000
21     20180924  1537747200  S14034   1102       1              CS034415000121
22     20180617  1529193600  S14040   1132       1              CS040414000073
23     20170306  1488758400  S14026   1142       1              CS026414000062
24     20180711  1531267200  S13041   1182       1              ZZ000000000000
25     20180903  1535932800  S13015   1162       2              CS015414000118
26     20180405  1522886400  S14045   1132       1              ZZ000000000000
27     20190810  1565395200  S14034   1122       1              CS034414000034
28     20170829  1503964800  S12029    112       1              ZZ000000000000
29     20170227  1488153600  S13017   1162       2              ZZ000000000000
30     20170329  1490745600  S12029   1192       2              CS029415000133
⋮      ⋮         ⋮           ⋮        ⋮          ⋮              ⋮
104652 20180723  1532304000  S14022   1102       2              CS022515000184
104653 20190808  1565222400  S13020   1192       1              ZZ000000000000
104654 20190608  1559952000  S13035   1192       2              CS035415000071
104655 20191001  1569888000  S13044   1112       1              ZZ000000000000
104656 20180626  1529971200  S13035   1132       2              ZZ000000000000
104657 20170730  1501372800  S13005   1102       2              CS005515000093
104658 20170713  1499904000  S14010   1162       1              ZZ000000000000
104659 20190628  1561680000  S13008   1162       1              ZZ000000000000
104660 20180223  1519344000  S13035   1162       1              CS035413000181
104661 20190530  1559174400  S14040   1152       1              CS040512000128
104662 20170119  1484784000  S13008   1152       1              CS008415000264
104663 20191024  1571875200  S14011   1132       2              CS011411000001
104664 20190826  1566777600  S13052   1152       2              ZZ000000000000
104665 20170610  1497052800  S12013   1132       1              ZZ000000000000
104666 20180227  1519689600  S13019   1172       2              CS019415000193
104667 20170330  1490832000  S13017   1112       1              CS017411000016
104668 20180401  1522540800  S13018   1102       2              ZZ000000000000
104669 20190607  1559865600  S14040   1192       1              ZZ000000000000
104670 20190726  1564099200  S14006   1122       1              CS006615000114
104671 20180101  1514764800  S12030   1192       2              CS030515000128
104672 20180131  1517356800  S14010   1102       1              CS010414000008
104673 20180721  1532131200  S13043   1192       2              ZZ000000000000
104674 20181217  1545004800  S13004   1142       2              CS004515000066
104675 20190911  1568160000  S14046   1182       1              CS046415000017
104676 20190430  1556582400  S13041   1122       1              ZZ000000000000
104677 20180221  1519171200  S13043   1132       2              ZZ000000000000
104678 20190911  1568160000  S14047   1132       2              ZZ000000000000
104679 20170311  1489190400  S14040   1122       1              CS040513000195
104680 20170331  1490918400  S13002   1142       1              CS002513000049
104681 20190423  1555977600  S13016   1102       2              ZZ000000000000
       product_cd quantity amount
1      P070305012 1         158
2      P070701017 1          81
3      P060101005 1         170
4      P050301001 1          25
5      P060102007 1          90
6      P050102002 1         138
7      P080101005 1          30
8      P070501004 1         128
9      P071302010 1         770
10     P071101003 1         680
11     P070401002 1         138
12     P040402001 1         228
13     P059001019 1         428
14     P091401190 1         780
15     P050104001 1         115
16     P080803001 1         100
17     P040102001 1         268
18     P071401002 1        1100
19     P070504016 1         188
20     P071102002 1         190
21     P050101003 1         138
22     P070202032 1         208
23     P050101001 2          80
24     P071001084 1         218
25     P060303001 1         148
26     P080602001 1         208
27     P071302003 1         318
28     P071001042 1         102
29     P090401012 1         120
30     P060104001 1          70
⋮      ⋮          ⋮        ⋮
104652 P071002003 1          88
104653 P071302001 1         280
104654 P070702048 1         141
104655 P090808001 1          80
104656 P060501016 1         398
104657 P071401018 1        2200
104658 P070407023 1         198
104659 P050303020 1         248
104660 P040301001 1         248
104661 P040301003 1         278
104662 P070308014 1         248
104663 P071401001 1        1100
104664 P080202010 1          90
104665 P080901002 1         950
104666 P040502002 1         278
104667 P071401013 1        2200
104668 P071001001 1          48
104669 P060102001 1          70
104670 P071301002 1        2485
104671 P080401002 1          80
104672 P060103003 1         150
104673 P059001015 1         308
104674 P059001016 1         308
104675 P070703003 1          98
104676 P070503012 1         100
104677 P050101001 1          40
104678 P071006005 1         218
104679 P050405003 1         168
104680 P060303001 1         148
104681 P050601001 1         138

---
> R-002: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。

In [7]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount)) %>% head()

  sales_ymd customer_id    product_cd amount
1 20181103  CS006214000001 P070305012 158
2 20181118  CS008415000097 P070701017  81
3 20170712  CS028414000014 P060101005 170
4 20190205  ZZ000000000000 P050301001  25
5 20180821  CS025415000050 P060102007  90
6 20190605  CS003515000195 P050102002 138

---
> R-003: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。ただし、sales_ymdsales_dateに項目名を変更しながら抽出すること。

In [9]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount))%>% 
    rename(sales_date=sales_ymd)%>% 
    head(10)

   sales_date customer_id    product_cd amount
1  20181103   CS006214000001 P070305012 158
2  20181118   CS008415000097 P070701017  81
3  20170712   CS028414000014 P060101005 170
4  20190205   ZZ000000000000 P050301001  25
5  20180821   CS025415000050 P060102007  90
6  20190605   CS003515000195 P050102002 138
7  20181205   CS024514000042 P080101005  30
8  20190922   CS040415000178 P070501004 128
9  20170504   ZZ000000000000 P071302010 770
10 20191010   CS027514000015 P071101003 680

---
> R-004: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [10]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount)) %>% 
    filter(customer_id == "CS018205000001")

   sales_ymd customer_id    product_cd amount
1  20180911  CS018205000001 P071401012 2200
2  20180414  CS018205000001 P060104007  600
3  20170614  CS018205000001 P050206001  990
4  20170614  CS018205000001 P060702015  108
5  20190216  CS018205000001 P071005024  102
6  20180414  CS018205000001 P071101002  278
7  20190226  CS018205000001 P070902035  168
8  20190924  CS018205000001 P060805001  495
9  20190226  CS018205000001 P071401020 2200
10 20180911  CS018205000001 P071401005 1100
11 20190216  CS018205000001 P040101002  218
12 20190924  CS018205000001 P091503001  280

---
> R-005: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [11]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount)) %>% 
    filter(customer_id == "CS018205000001" & amount >= 1000)

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401012 2200
2 20190226  CS018205000001 P071401020 2200
3 20180911  CS018205000001 P071401005 1100

---
> R-006: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [12]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, quantity, amount)) %>% 
    filter(customer_id == "CS018205000001" & (amount >=1000 | quantity >=5))

  sales_ymd customer_id    product_cd quantity amount
1 20180911  CS018205000001 P071401012 1        2200
2 20180414  CS018205000001 P060104007 6         600
3 20170614  CS018205000001 P050206001 5         990
4 20190226  CS018205000001 P071401020 1        2200
5 20180911  CS018205000001 P071401005 1        1100

---
> R-007: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [13]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount)) %>% 
    filter(customer_id == "CS018205000001" & amount >= 1000 & amount <= 2000)

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401005 1100

---
> R-008: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [14]:
df_receipt %>% 
    select(c(sales_ymd, customer_id, product_cd, amount)) %>% 
    filter(customer_id == "CS018205000001" & product_cd != "P071401019")

   sales_ymd customer_id    product_cd amount
1  20180911  CS018205000001 P071401012 2200
2  20180414  CS018205000001 P060104007  600
3  20170614  CS018205000001 P050206001  990
4  20170614  CS018205000001 P060702015  108
5  20190216  CS018205000001 P071005024  102
6  20180414  CS018205000001 P071101002  278
7  20190226  CS018205000001 P070902035  168
8  20190924  CS018205000001 P060805001  495
9  20190226  CS018205000001 P071401020 2200
10 20180911  CS018205000001 P071401005 1100
11 20190216  CS018205000001 P040101002  218
12 20190924  CS018205000001 P091503001  280

---
> R-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`df_store %>% filter(!(prefecture_cd == "13" | floor_area > 900))`

In [16]:
df_store %>% 
    filter(prefecture_cd != "13" & floor_area <= 900)

  store_cd store_name prefecture_cd prefecture
1 S14046   北山田店   14            神奈川県
2 S14011   日吉本町店 14            神奈川県
3 S12013   習志野店   12            千葉県
  address
1 神奈川県横浜市都筑区北山田一丁目
2 神奈川県横浜市港北区日吉本町四丁目
3 千葉県習志野市芝園一丁目
  address_kana                                                 tel_no
1 カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
2 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
3 チバケンナラシノシシバゾノイッチョウメ                       047-123-4002
  longitude latitude floor_area
1 139.5916  35.56189 831
2 139.6316  35.54655 890
3 140.0220  35.66122 808

---
> R-010: 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示せよ。

In [18]:
df_store %>% 
    filter(startsWith(store_cd, "S14")) %>% 
    head(10)

   store_cd store_name   prefecture_cd prefecture
1  S14010   菊名店       14            神奈川県
2  S14033   阿久和店     14            神奈川県
3  S14036   相模原中央店 14            神奈川県
4  S14040   長津田店     14            神奈川県
5  S14050   阿久和西店   14            神奈川県
6  S14028   二ツ橋店     14            神奈川県
7  S14012   本牧和田店   14            神奈川県
8  S14046   北山田店     14            神奈川県
9  S14022   逗子店       14            神奈川県
10 S14011   日吉本町店   14            神奈川県
   address
1  神奈川県横浜市港北区菊名一丁目
2  神奈川県横浜市瀬谷区阿久和西一丁目
3  神奈川県相模原市中央二丁目
4  神奈川県横浜市緑区長津田みなみ台五丁目
5  神奈川県横浜市瀬谷区阿久和西一丁目
6  神奈川県横浜市瀬谷区二ツ橋町
7  神奈川県横浜市中区本牧和田
8  神奈川県横浜市都筑区北山田一丁目
9  神奈川県逗子市逗子一丁目
10 神奈川県横浜市港北区日吉本町四丁目
   address_kana                                                 tel_no
1  カナガワケンヨコハマシコウホククキクナイッチョウメ           045-123-4032
2  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4043
3  カナガワケンサガミハラシチュウオウニチョウメ                 042-123-4045
4  カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ   045-123-4046
5  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4053
6  カナガワケンヨコハマシセヤクフタツバシチョウ                 045-123-4042
7  カナガワケンヨコハマシナカクホンモクワダ                     045-123-4034
8  カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
9  カナガワケンズシシズシイッチョウメ                           046-123-4036
10 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
   longitude latitude floor_area
1  139.6326  35.50049 1732
2  139.4961  35.45918 1495
3  139.3716  35.57327 1679
4  139.4994  35.52398 1548
5  139.4961  35.45918 1830
6  139.4963  35.46304 1574
7  139.6582  35.42156 1341
8  139.5916  35.56189  831
9  139.5789  35.29642 1838
10 139.6316  35.54655  890

---
> R-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。

In [20]:
df_customer %>% 
    filter(endsWith(customer_id, "1")) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS037613000071 六角 雅彦     9         不明   1952-04-01 66  136-0076
2  CS028811000001 堀井 かおり   1         女性   1933-03-27 86  245-0016
3  CS040412000191 川井 郁恵     1         女性   1977-01-05 42  226-0021
4  CS028314000011 小菅 あおい   1         女性   1983-11-26 35  246-0038
5  CS039212000051 藤島 恵梨香   1         女性   1997-02-03 22  166-0001
6  CS015412000111 松居 奈月     1         女性   1972-10-04 46  136-0071
7  CS004702000041 野島 洋       0         男性   1943-08-24 75  176-0022
8  CS041515000001 栗田 千夏     1         女性   1967-01-02 52  206-0001
9  CS029313000221 北条 ひかり   1         女性   1987-06-19 31  279-0011
10 CS034312000071 望月 奈央     1         女性   1980-09-20 38  213-0026
   address                              application_store_cd application_date
1  東京都江東区南砂**********           S13037               20150414
2  神奈川県横浜市泉区和泉町**********   S14028               20160115
3  神奈川県横浜市緑区北八朔町********** S14040               20151101
4  神奈川県横浜市瀬谷区宮沢**********   S14028               20151123
5  東京都杉並区阿佐谷北**********       S13039               20171121
6  東京都江東区亀戸**********           S13015               20150629
7  東京都練馬区向山**********           S13004               20170218
8  東京都多摩市和田**********           S13041               20160422
9  千葉県浦安市美浜**********           S12029               20180810
10 神奈川県川崎市高津区久末**********   S14034               20160106
   status_cd
1  0-00000000-0
2  0-00000000-0
3  1-20091025-4
4  1-20080426-5
5  1-20100215-4
6  0-00000000-0
7  0-00000000-0
8  E-20100803-F
9  0-00000000-0
10 0-00000000-0

---
> R-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [21]:
df_store %>% 
    filter(str_detect(address, "横浜市"))

   store_cd store_name prefecture_cd prefecture
1  S14010   菊名店     14            神奈川県
2  S14033   阿久和店   14            神奈川県
3  S14040   長津田店   14            神奈川県
4  S14050   阿久和西店 14            神奈川県
5  S14028   二ツ橋店   14            神奈川県
6  S14012   本牧和田店 14            神奈川県
7  S14046   北山田店   14            神奈川県
8  S14011   日吉本町店 14            神奈川県
9  S14048   中川中央店 14            神奈川県
10 S14042   新山下店   14            神奈川県
11 S14006   葛が谷店   14            神奈川県
   address
1  神奈川県横浜市港北区菊名一丁目
2  神奈川県横浜市瀬谷区阿久和西一丁目
3  神奈川県横浜市緑区長津田みなみ台五丁目
4  神奈川県横浜市瀬谷区阿久和西一丁目
5  神奈川県横浜市瀬谷区二ツ橋町
6  神奈川県横浜市中区本牧和田
7  神奈川県横浜市都筑区北山田一丁目
8  神奈川県横浜市港北区日吉本町四丁目
9  神奈川県横浜市都筑区中川中央二丁目
10 神奈川県横浜市中区新山下二丁目
11 神奈川県横浜市都筑区葛が谷
   address_kana                                                 tel_no
1  カナガワケンヨコハマシコウホククキクナイッチョウメ           045-123-4032
2  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4043
3  カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ   045-123-4046
4  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4053
5  カナガワケンヨコハマシセヤクフタツバシチョウ                 045-123-4042
6  カナガワケンヨコハマシナカクホンモクワダ                     045-123-4034
7  カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
8  カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
9  カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ   045-123-4051
10 カナガワケンヨコハマシナカクシンヤマシタニチョウメ           045-123-4047
11 カナガワケンヨコハマシツヅキククズガヤ                       045-123-4031
   longitude latitude floor_area
1  139.6326  35.50049 1732
2  139.4961  35.45918 1495
3  139.4994  35.52398 1548
4  139.4961  35.45918 1830
5  139.4963  35.46304 1574
6  139.6582  35.42156 1341
7  139.5916  35.56189  831
8  139.6316  35.54655  890
9  139.5758  35.54912 1657
10 139.6593  35.43894 1044
11 139.5633  35.53573 1886

---
> R-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。

In [24]:
df_customer %>% 
    filter(str_detect(status_cd, "^[A-f]")) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS031415000172 宇多田 貴美子 1         女性   1976-10-04 42  151-0053
2  CS015414000103 奥野 陽子     1         女性   1977-08-09 41  136-0073
3  CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
4  CS029415000023 梅田 里穂     1         女性   1976-01-17 43  279-0043
5  CS035415000029 寺沢 真希     9         不明   1977-09-27 41  158-0096
6  CS031415000106 宇野 由美子   1         女性   1970-02-26 49  151-0053
7  CS029215000025 石倉 美帆     1         女性   1993-09-28 25  279-0022
8  CS033605000005 猪股 雄太     0         男性   1955-12-05 63  246-0031
9  CS033415000229 板垣 菜々美   1         女性   1977-11-07 41  246-0021
10 CS008415000145 黒谷 麻緒     1         女性   1977-06-27 41  157-0067
   address                                application_store_cd application_date
1  東京都渋谷区代々木**********           S13031               20150529
2  東京都江東区北砂**********             S13015               20150722
3  神奈川県横浜市港北区日吉本町********** S14011               20150228
4  千葉県浦安市富士見**********           S12029               20150610
5  東京都世田谷区玉川台**********         S13035               20141220
6  東京都渋谷区代々木**********           S13031               20150201
7  千葉県浦安市今川**********             S12029               20150708
8  神奈川県横浜市瀬谷区瀬谷**********     S14033               20150425
9  神奈川県横浜市瀬谷区二ツ橋町********** S14033               20150712
10 東京都世田谷区喜多見**********         S13008               20150829
   status_cd
1  D-20100325-C
2  B-20100609-B
3  C-20100421-9
4  D-20100918-E
5  F-20101029-F
6  F-20100511-E
7  B-20100820-C
8  F-20100917-E
9  F-20100326-E
10 F-20100622-F

---
> R-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [25]:
df_customer %>% 
    filter(str_detect(status_cd, "[1-9]$")) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS001215000145 田崎 美紀     1         女性   1995-03-29 24  144-0055
2  CS033513000180 安斎 遥       1         女性   1962-07-11 56  241-0823
3  CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
4  CS040412000191 川井 郁恵     1         女性   1977-01-05 42  226-0021
5  CS009315000023 皆川 文世     1         女性   1980-04-15 38  154-0012
6  CS015315000033 福士 璃奈子   1         女性   1983-03-17 36  135-0043
7  CS023513000066 神戸 そら     1         女性   1961-12-17 57  210-0005
8  CS035513000134 市川 美帆     1         女性   1960-03-27 59  156-0053
9  CS001515000263 高松 夏空     1         女性   1962-11-09 56  144-0051
10 CS040314000027 鶴田 きみまろ 9         不明   1986-03-26 33  226-0027
   address                                application_store_cd application_date
1  東京都大田区仲六郷**********           S13001               20170605
2  神奈川県横浜市旭区善部町**********     S14033               20150728
3  神奈川県横浜市港北区日吉本町********** S14011               20150228
4  神奈川県横浜市緑区北八朔町**********   S14040               20151101
5  東京都世田谷区駒沢**********           S13009               20150319
6  東京都江東区塩浜**********             S13015               20141024
7  神奈川県川崎市川崎区東田町**********   S14023               20150915
8  東京都世田谷区桜**********             S13035               20150227
9  東京都大田区西蒲田**********           S13001               20160812
10 神奈川県横浜市緑区長津田**********     S14040               20150122
   status_cd
1  6-20090929-2
2  6-20080506-5
3  C-20100421-9
4  1-20091025-4
5  5-20080322-1
6  4-20080219-3
7  5-20100524-9
8  8-20100711-9
9  1-20100804-1
10 2-20080426-4

---
> R-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [27]:
df_customer %>% 
    filter(str_detect(status_cd, "^[A-F].*[1-9]$")) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
2  CS022513000105 島村 貴美子   1         女性   1962-03-12 57  249-0002
3  CS001515000096 水野 陽子     9         不明   1960-11-29 58  144-0053
4  CS013615000053 西脇 季衣     1         女性   1953-10-18 65  261-0026
5  CS020412000161 小宮 薫       1         女性   1974-05-21 44  174-0042
6  CS001215000097 竹中 あさみ   1         女性   1990-07-25 28  146-0095
7  CS035212000007 内村 恵梨香   1         女性   1990-12-04 28  152-0023
8  CS002515000386 野田 コウ     1         女性   1963-05-30 55  185-0013
9  CS001615000372 稲垣 寿々花   1         女性   1956-10-29 62  144-0035
10 CS032512000121 松井 知世     1         女性   1962-09-04 56  210-0011
   address                                application_store_cd application_date
1  神奈川県横浜市港北区日吉本町********** S14011               20150228
2  神奈川県逗子市山の根**********         S14022               20150320
3  東京都大田区蒲田本町**********         S13001               20150614
4  千葉県千葉市美浜区幕張西**********     S12013               20150128
5  東京都板橋区東坂下**********           S13020               20150822
6  東京都大田区多摩川**********           S13001               20170315
7  東京都目黒区八雲**********             S13035               20151013
8  東京都国分寺市西恋ケ窪**********       S13002               20160410
9  東京都大田区南蒲田**********           S13001               20170403
10 神奈川県川崎市川崎区富士見**********   S13032               20150727
   status_cd
1  C-20100421-9
2  A-20091115-7
3  A-20100724-7
4  B-20100329-6
5  B-20081021-3
6  A-20100211-2
7  B-20101018-6
8  C-20100127-8
9  A-20100104-1
10 A-20100103-5

---
> R-016: 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [31]:
df_store %>% 
    filter(str_detect(tel_no, "[\\d]{3}-[\\d]{3}-[\\d]{4}"))

   store_cd store_name   prefecture_cd prefecture
1  S12014   千草台店     12            千葉県
2  S13002   国分寺店     13            東京都
3  S14010   菊名店       14            神奈川県
4  S14033   阿久和店     14            神奈川県
5  S14036   相模原中央店 14            神奈川県
6  S14040   長津田店     14            神奈川県
7  S14050   阿久和西店   14            神奈川県
8  S13052   森野店       13            東京都
9  S14028   二ツ橋店     14            神奈川県
10 S14012   本牧和田店   14            神奈川県
11 S14046   北山田店     14            神奈川県
12 S14022   逗子店       14            神奈川県
13 S14011   日吉本町店   14            神奈川県
14 S13016   小金井店     13            東京都
15 S14034   川崎野川店   14            神奈川県
16 S14048   中川中央店   14            神奈川県
17 S12007   佐倉店       12            千葉県
18 S14026   辻堂西海岸店 14            神奈川県
19 S13041   八王子店     13            東京都
20 S14049   川崎大師店   14            神奈川県
21 S14023   川崎店       14            神奈川県
22 S13018   清瀬店       13            東京都
23 S14027   南藤沢店     14            神奈川県
24 S14021   伊勢原店     14            神奈川県
25 S14047   相模原店     14            神奈川県
26 S12013   習志野店     12            千葉県
27 S14042   新山下店     14            神奈川県
28 S12030   八幡店       12            千葉県
29 S14025   大和店       14            神奈川県
30 S14045   厚木店       14            神奈川県
31 S12029   東野店       12            千葉県
32 S12053   高洲店       12            千葉県
33 S14024   三田店       14            神奈川県
34 S14006   葛が谷店     14            神奈川県
   address
1  千葉県千葉市稲毛区千草台一丁目
2  東京都国分寺市本多二丁目
3  神奈川県横浜市港北区菊名一丁目
4  神奈川県横浜市瀬谷区阿久和西一丁目
5  神奈川県相模原市中央二丁目
6  神奈川県横浜市緑区長津田みなみ台五丁目
7  神奈川県横浜市瀬谷区阿久和西一丁目
8  東京都町田市森野三丁目
9  神奈川県横浜市瀬谷区二ツ橋町
10 神奈川県横浜市中区本牧和田
11 神奈川県横浜市都筑区北山田一丁目
12 神奈川県逗子市逗子一丁目
13 神奈川県横浜市港北区日吉本町四丁目
14 東京都小金井市本町一丁目
15 神奈川県川崎市宮前区野川
16 神奈川県横浜市都筑区中川中央二丁目
17 千葉県佐倉市上志津
18 神奈川県藤沢市辻堂西海岸二丁目
19 東京都八王子市大塚
20 神奈川県川崎市川崎区中瀬三丁目
21 神奈川県川崎市川崎区本町二丁目
22 東京都清瀬市松山一丁目
23 神奈川県藤沢市南藤沢
24 神奈川県伊勢原市伊勢原四丁目
25 神奈川県相模原市千代田六丁目
26 千葉県習志野市芝園一丁目
27 神奈川県横浜市中区新山下二丁目
28 千葉県市川市八幡三丁目
29 神奈川県大和市下和田
30 神奈川県厚木市中町二丁目
31 千葉県浦安市東野一丁目
32 千葉県浦安市高洲五丁目
33 神奈川県川崎市多摩区三田四丁目
34 神奈川県横浜市都筑区葛が谷
   address_kana                                                 tel_no
1  チバケンチバシイナゲクチグサダイイッチョウメ                 043-123-4003
2  トウキョウトコクブンジシホンダニチョウメ                     042-123-4008
3  カナガワケンヨコハマシコウホククキクナイッチョウメ           045-123-4032
4  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4043
5  カナガワケンサガミハラシチュウオウニチョウメ                 042-123-4045
6  カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ   045-123-4046
7  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4053
8  トウキョウトマチダシモリノサンチョウメ                       042-123-4030
9  カナガワケンヨコハマシセヤクフタツバシチョウ                 045-123-4042
10 カナガワケンヨコハマシナカクホンモクワダ                     045-123-4034
11 カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
12 カナガワケンズシシズシイッチョウメ                           046-123-4036
13 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
14 トウキョウトコガネイシホンチョウイッチョウメ                 042-123-4015
15 カナガワケンカワサキシミヤマエクノガワ                       044-123-4044
16 カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ   045-123-4051
17 チバケンサクラシカミシヅ                                     043-123-4001
18 カナガワケンフジサワシツジドウニシカイガンニチョウメ         046-123-4040
19 トウキョウトハチオウジシオオツカ                             042-123-4026
20 カナガワケンカワサキシカワサキクナカゼサンチョウメ           044-123-4052
21 カナガワケンカワサキシカワサキクホンチョウニチョウメ         044-123-4037
22 トウキョウトキヨセシマツヤマイッチョウメ                     042-123-4017
23 カナガワケンフジサワシミナミフジサワ                         046-123-4041
24 カナガワケンイセハラシイセハラヨンチョウメ                   046-123-4035
25 カナガワケンサガミハラシチヨダロクチョウメ                   042-123-4050
26 チバケンナラシノシシバゾノイッチョウメ                       047-123-4002
27 カナガワケンヨコハマシナカクシンヤマシタニチョウメ           045-123-4047
28 チバケンイチカワシヤワタサンチョウメ                         047-123-4005
29 カナガワケンヤマトシシモワダ                                 046-123-4039
30 カナガワケンアツギシナカチョウニチョウメ                     046-123-4048
31 チバケンウラヤスシヒガシノイッチョウメ                       047-123-4004
32 チバケンウラヤスシタカスゴチョウメ                           047-123-4006
33 カナガワケンカワサキシタマクミタヨンチョウメ                 044-123-4038
34 カナガワケンヨコハマシツヅキククズガヤ                       045-123-4031
   longitude latitude floor_area
1  140.1180  35.63559 1698
2  139.4802  35.70566 1735
3  139.6326  35.50049 1732
4  139.4961  35.45918 1495
5  139.3716  35.57327 1679
6  139.4994  35.52398 1548
7  139.4961  35.45918 1830
8  139.4383  35.55293 1087
9  139.4963  35.46304 1574
10 139.6582  35.42156 1341
11 139.5916  35.56189  831
12 139.5789  35.29642 1838
13 139.6316  35.54655  890
14 139.5094  35.70018 1399
15 139.5998  35.57693 1318
16 139.5758  35.54912 1657
17 140.1452  35.71872 1895
18 139.4466  35.32464 1732
19 139.4235  35.63787  810
20 139.7327  35.53759  962
21 139.7028  35.53599 1804
22 139.5178  35.76885 1220
23 139.4896  35.33762 1521
24 139.3129  35.40169  962
25 139.3748  35.55959 1047
26 140.0220  35.66122  808
27 139.6593  35.43894 1044
28 139.9240  35.72318 1162
29 139.4680  35.43414 1011
30 139.3651  35.44182  980
31 139.8968  35.65086 1101
32 139.9176  35.63755 1555
33 139.5424  35.60770  972
34 139.5633  35.53573 1886

---
> R-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。

In [32]:
df_customer %>% 
    arrange(birth_day) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS003813000014 村山 菜々美   1         女性   1928-11-26 90  182-0007
2  CS026813000004 吉村 朝陽     1         女性   1928-12-14 90  251-0043
3  CS018811000003 熊沢 美里     1         女性   1929-01-07 90  204-0004
4  CS027803000004 内村 拓郎     0         男性   1929-01-12 90  251-0031
5  CS013801000003 天野 拓郎     0         男性   1929-01-15 90  274-0824
6  CS001814000022 鶴田 里穂     1         女性   1929-01-28 90  144-0045
7  CS016815000002 山元 美紀     1         女性   1929-02-22 90  184-0005
8  CS009815000003 中田 里穂     1         女性   1929-04-08 89  154-0014
9  CS012813000013 宇野 南朋     1         女性   1929-04-09 89  231-0806
10 CS005813000015 金谷 恵梨香   1         女性   1929-04-09 89  165-0032
   address                            application_store_cd application_date
1  東京都調布市菊野台**********       S13003               20160214
2  神奈川県藤沢市辻堂元町**********   S14026               20150723
3  東京都清瀬市野塩**********         S13018               20150403
4  神奈川県藤沢市鵠沼藤が谷********** S14027               20151227
5  千葉県船橋市前原東**********       S12013               20160120
6  東京都大田区南六郷**********       S13001               20161012
7  東京都小金井市桜町**********       S13016               20150629
8  東京都世田谷区新町**********       S13009               20150421
9  神奈川県横浜市中区本牧町********** S14012               20150712
10 東京都中野区鷺宮**********         S13005               20150506
   status_cd
1  0-00000000-0
2  0-00000000-0
3  0-00000000-0
4  0-00000000-0
5  0-00000000-0
6  A-20090415-7
7  C-20090923-C
8  D-20091021-E
9  0-00000000-0
10 0-00000000-0

---
> R-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。

In [41]:
df_customer %>% 
    arrange(desc(birth_day)) %>% 
    head(10)

   customer_id    customer_name gender_cd gender birth_day  age postal_cd
1  CS035114000004 大村 美里     1         女性   2007-11-25 11  156-0053
2  CS022103000002 福山 はじめ   9         不明   2007-10-02 11  249-0006
3  CS002113000009 柴田 真悠子   1         女性   2007-09-17 11  184-0014
4  CS004115000014 松井 京子     1         女性   2007-08-09 11  165-0031
5  CS002114000010 山内 遥       1         女性   2007-06-03 11  184-0015
6  CS025115000002 小柳 夏希     1         女性   2007-04-18 11  245-0018
7  CS002113000025 広末 まなみ   1         女性   2007-03-30 12  184-0015
8  CS033112000003 長野 美紀     1         女性   2007-03-22 12  245-0051
9  CS007115000006 福岡 瞬       1         女性   2007-03-10 12  285-0845
10 CS014113000008 矢口 莉緒     1         女性   2007-03-05 12  260-0041
   address                              application_store_cd application_date
1  東京都世田谷区桜**********           S13035               20150619
2  神奈川県逗子市逗子**********         S14022               20160909
3  東京都小金井市貫井南町**********     S13002               20160304
4  東京都中野区上鷺宮**********         S13004               20161120
5  東京都小金井市貫井北町**********     S13002               20160920
6  神奈川県横浜市泉区上飯田町********** S14025               20160116
7  東京都小金井市貫井北町**********     S13002               20171030
8  神奈川県横浜市戸塚区名瀬町********** S14033               20150606
9  千葉県佐倉市西志津**********         S12007               20151118
10 千葉県千葉市中央区東千葉**********   S12014               20150622
   status_cd
1  6-20091205-6
2  0-00000000-0
3  0-00000000-0
4  1-20081231-1
5  6-20100510-1
6  D-20100913-D
7  0-00000000-0
8  0-00000000-0
9  F-20101016-F
10 3-20091108-6

---
> R-019: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [45]:
df_receipt %>% 
    mutate(ranking = rank(desc(amount), ties.method = "min")) %>% 
    arrange(ranking) %>% 
    select(c(customer_id, amount, ranking)) %>% 
    head(10)

   customer_id    amount ranking
1  CS011415000006 10925  1
2  ZZ000000000000  6800  2
3  CS028605000002  5780  3
4  CS015515000034  5480  4
5  ZZ000000000000  5480  4
6  ZZ000000000000  5480  4
7  ZZ000000000000  5440  7
8  CS021515000089  5440  7
9  CS015515000083  5280  9
10 CS017414000114  5280  9

---
> R-020: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [49]:
df_receipt %>% 
    mutate(ranking = rank(desc(amount), ties.method = "first")) %>% 
    arrange(ranking) %>% 
    select(c(customer_id, amount, ranking)) %>% 
    head(10)

   customer_id    amount ranking
1  CS011415000006 10925   1
2  ZZ000000000000  6800   2
3  CS028605000002  5780   3
4  CS015515000034  5480   4
5  ZZ000000000000  5480   5
6  ZZ000000000000  5480   6
7  ZZ000000000000  5440   7
8  CS021515000089  5440   8
9  CS015515000083  5280   9
10 CS017414000114  5280  10

---
> R-021: レシート明細データ（df_receipt）に対し、件数をカウントせよ。

In [60]:
df_receipt %>% nrow()

[1] 104681

---
> R-022: レシート明細データ（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [59]:
df_receipt$customer_id %>% unique()%>% length()

[1] 8307

---
> R-023: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [ ]:
df_receipt %>% 
    group_by(store_cd) %>% 
    summarize(

---
> R-024: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10件表示せよ。

---
> R-025: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10件表示せよ。

---
> R-026: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを10件表示せよ。

---
> R-027: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

---
> R-028: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

---
> R-029: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10件表示させよ。

---
> R-030: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で5件表示せよ。

---
> R-031: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で5件表示せよ。

---
> R-032: レシート明細データ（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

---
> R-033: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

---
> R-034: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

---
> R-035: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10件表示せよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

---
> R-036: レシート明細データ（df_receipt）と店舗データ（df_store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を10件表示せよ。

---
> R-037: 商品データ（df_product）とカテゴリデータ（df_category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を10件表示せよ。

---
> R-038: 顧客データ（df_customer）とレシート明細データ（df_receipt）から、顧客ごとの売上金額合計を求め、10件表示せよ。ただし、売上実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

---
> R-039: レシート明細データ（df_receipt）から、売上日数の多い顧客の上位20件を抽出したデータと、売上金額合計の多い顧客の上位20件を抽出したデータをそれぞれ作成し、さらにその2つを完全外部結合せよ。ただし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

---
> R-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（df_store）と商品データ（df_product）を直積し、件数を計算せよ。

---
> R-041: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を10件表示せよ。

---
> R-042: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3回前に売上があった日のデータを結合せよ。そして結果を10件表示せよ。

---
> R-043: レシート明細データ（df_receipt）と顧客データ（df_customer）を結合し、性別コード（gender_cd）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

---
> R-044: 043で作成した売上サマリデータ（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

---
> R-045: 顧客データ（df_customer）の生年月日（birth_day）は日付型でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-046: 顧客データ（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-047: レシート明細データ（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-048: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-049: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-050: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「月」は0埋め2桁で取り出すこと。

---
> R-051: レシート明細データ（df_receipt）の売上エポック秒を日付型に変換し、「日」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「日」は0埋め2桁で取り出すこと。

---
> R-052: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2,000円以下を0、2,000円より大きい金額を1に二値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-053: 顧客データ（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に二値化せよ。さらにレシート明細データ（df_receipt）と結合し、全期間において売上実績のある顧客数を、作成した二値ごとにカウントせよ。

---
> R-054:  顧客データ（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに10件表示せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。

---
> R-055: レシート明細（df_receipt）データの売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額合計とともに10件表示せよ。カテゴリ値は順に1〜4とする。
>
> - 最小値以上第1四分位未満 ・・・ 1を付与
> - 第1四分位以上第2四分位未満 ・・・ 2を付与
> - 第2四分位以上第3四分位未満 ・・・ 3を付与
> - 第3四分位以上 ・・・ 4を付与

---
> R-056: 顧客データ（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに10件表示せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。

---
> R-057: 056の抽出結果と性別コード（gender_cd）により、新たに性別×年代の組み合わせを表すカテゴリデータを作成し、10件表示せよ。組み合わせを表すカテゴリの値は任意とする。

---
> R-058: 顧客データ（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-059: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに10件表示せよ。標準化に使用する標準偏差は、分散の平方根、もしくは不偏分散の平方根のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-060: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-061: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を常用対数化（底10）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-062: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を自然対数化（底e）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-063: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から各商品の利益額を算出し、結果を10件表示せよ。

---
> R-064: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。ただし、単価と原価には欠損が生じていることに注意せよ。

---
> R-065: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-066: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を丸めること（四捨五入または偶数への丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-067: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-068: 商品データ（df_product）の各商品について、消費税率10％の税込み金額を求めよ。1円未満の端数は切り捨てとし、結果を10件表示せよ。ただし、単価（unit_price）には欠損が生じていることに注意せよ。

---
> R-069: レシート明細データ（df_receipt）と商品データ（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分コード（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分コード"07"（瓶詰缶詰）の売上実績がある顧客のみとし、結果を10件表示せよ。

---
> R-070: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

---
> R-071: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

---
> R-072: レシート明細データ（df_receipt）の売上日（df_customer）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

---
> R-073: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

---
> R-074: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、直前の月曜日付とともに10件表示せよ（sales_ymdは数値でデータを保持している点に注意）。

---
> R-075: 顧客データ（df_customer）からランダムに1%のデータを抽出し、先頭から10件表示せよ。

---
> R-076: 顧客データ（df_customer）から性別コード（gender_cd）の割合に基づきランダムに10%のデータを層化抽出し、性別コードごとに件数を集計せよ。

---
> R-077: レシート明細データ（df_receipt）の売上金額を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。なお、外れ値は売上金額合計を対数化したうえで平均と標準偏差を計算し、その平均から3σを超えて離れたものとする（自然対数と常用対数のどちらでも可）。結果は10件表示せよ。

---
> R-078: レシート明細データ（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第1四分位と第3四分位の差であるIQRを用いて、「第1四分位数-1.5×IQR」を下回るもの、または「第3四分位数+1.5×IQR」を超えるものとする。結果は10件表示せよ。

---
> R-079: 商品データ（df_product）の各項目に対し、欠損数を確認せよ。

---
> R-080: 商品データ（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たな商品データを作成せよ。なお、削除前後の件数を表示させ、079で確認した件数だけ減少していることも確認すること。

---
> R-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たな商品データを作成せよ。なお、平均値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品のカテゴリ小区分コード（category_small_cd）ごとに算出した中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-084: 顧客データ（df_customer）の全顧客に対して全期間の売上金額に占める2019年売上金額の割合を計算し、新たなデータを作成せよ。ただし、売上実績がない場合は0として扱うこと。そして計算した割合が0超のものを抽出し、結果を10件表示せよ。また、作成したデータに欠損が存在しないことを確認せよ。

---
> R-085: 顧客データ（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いてジオコードデータ（df_geocode）を紐付け、新たな顧客データを作成せよ。ただし、1つの郵便番号（postal_cd）に複数の経度（longitude）、緯度（latitude）情報が紐づく場合は、経度（longitude）、緯度（latitude）の平均値を算出して使用すること。また、作成結果を確認するために結果を10件表示せよ。

---
> R-086: 085で作成した緯度経度つき顧客データに対し、会員申込店舗コード（application_store_cd）をキーに店舗データ（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客住所（address）の緯度・経度を用いて申込み店舗と顧客住所の距離（単位：km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は以下の簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示せよ。

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

---
> R-087: 顧客データ（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなして1顧客1レコードとなるように名寄せした名寄顧客データを作成し、顧客データの件数、名寄顧客データの件数、重複数を算出せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残し、売上金額合計が同一もしくは売上実績がない顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

---
> R-088: 087で作成したデータを元に、顧客データに統合名寄IDを付与したデータを作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定
> 
> 顧客IDのユニーク件数と、統合名寄IDのユニーク件数の差も確認すること。

---
> R-089: 売上実績がある顧客を、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

---
> R-090: レシート明細データ（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月の時系列モデル構築用データを3セット作成せよ。

---
> R-091: 顧客データ（df_customer）の各顧客に対し、売上実績がある顧客数と売上実績がない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

---
> R-092: 顧客データ（df_customer）の性別について、第三正規形へと正規化せよ。

---
> R-093: 商品データ（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータ（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データを作成せよ。

---
> R-094: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-095: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|CP932|
> 
> ファイル出力先のパスは以下のようにすること。
> 
> |出力先|
> |:--:|
> |./data|

---
> R-096: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|無し|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-097: 094で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|

---
> R-098: 096で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|ヘッダ無し|UTF-8|

---
> R-099: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-100: 099で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|

# これで１００本終わりです。おつかれさまでした！